{% extends 'base.html.twig' %}

{% block title %}Race index{% endblock %}

{% block body %}
    <h1>Race index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for race in races %}
            <tr>
                <td>{{ race.id }}</td>
                <td>{{ race.name }}</td>
                <td>{{ race.description }}</td>
                <td>
                    <a href="{{ path('race_show', {'id': race.id}) }}" class="btn btn-sm btn-dark">show</a>
                    {% if is_granted('ROLE_EDITOR') %}
                    <a href="{{ path('race_edit', {'id': race.id}) }}" class="btn btn-sm btn-warning">edit</a>
                    {{ include('race/_delete_form.html.twig') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('race_new') }}" class="btn btn-primary">Créer</a>
{% endblock %}
